
<% if !current_user %>
<h1> Welcome to the Forum please login or signup!</h1>

<%else%>
<h3> All forums </h3>
<% @forums.each do |forum| %>
<div class="row">
  <div class="col-md-12">
    <ul>
      <li><%= link_to forum.name, forum_path(forum)%> - created by - <%=link_to forum.user.username, user_path(forum.user)%><br>
        <%= forum.d%>
        <%= forum.users.count%> users in conversation
      </li>
    </ul>
  </div>
</div>
<%end%>
<%end%>
