<div class="banner">
<h1> A List of All Users </h1>
</div>
<br>

<% @users.each do |user| %>
<div class="card mb-2">
    <div class="card-body">
      <ul>
        <li><%= link_to user.username, user_path(user)%></li>
      </ul>
    </div>
</div>
<%end %>
