<div class="banner">
<h1> A List of All Users </h1>
</div>
<br>

<% @users.each do |user| %>
<div class="col-9">
    <div class="col-6">
      <ul>
        <% if user.avatar.attached?%>
          <p><image src="<%=(url_for(user.avatar))%>" class="rounded-circle" width="100" alt="User" /></p>
          <%end%>
        <li><%= link_to user.username, user_path(user)%>

        </li>
      </ul>
    </div>
</div>
<%end %>
