
<% @posts.each do |post|%>
<ul>
<p><strong><%= post.comment %> <%=post.d%></strong><p>
<li>Found in:<%= link_to post.forum_name, forum_path(post.forum_id) %></li>
<li>Written by:<%= link_to post.username, user_path(post.user_id) %></li>
</ul>
<%end%>
